* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    background-color: mediumseagreen;
}

section {
    margin: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 4em;
 
}

.item {
    background-color: aqua;
    border-color: red;
}
